.nav-bar {
  display: inline-flex;
  justify-content: center;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: green;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-flex;
  list-style-type: none;
}

nav ul li a {
  display: flex;
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
  margin: 10px 35px 10px 35px;
  padding: 10px;
  color: white;
  text-decoration: none;
}

li:hover {
  background-color: orange;
}

a:hover {
  color: black;
}

.title {
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  font-weight: bold;
  color: darkgreen;
}

.abstract {
  line-height: 25px;
  color: #2c2b2b;
  margin-top: 0;
  position: relative;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  padding-left: 30px;
  padding-right: 30px;
}

p {
  display: inline-flex;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: justify;
}

element.style {
  font-weight: bold;
  color: black;
}

div.gallery {
  display: inline-block;
  flex-direction: row;
  margin: 10px;
  border: 0px solid #ccc;
  justify-content: center;
  width: 200px;
  padding: 0%;
}

div.gallery:hover {
  border: 1px solid black;
}

div.gallery img {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 500px) {
  .gallery {
    width: 100%;
  }
}
